<body>
<footer class="fixed-bottom">
    <br><br>
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>company</h4>
                <ul>
                    <li><a href="#">about us</a></li>
                    <li><a href="#">our services</a></li>
                    <li><a href="#">privacy policy</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>get help</h4>
                <ul>
                    <li><a href="#">FAQ</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Contact Us</h4>
                <ul>
                    <li><a>Phone Number</a></li>
                    <li><a href="#">@Email</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>follow us</h4>
                <div class="social-links">
                    <a href="#"><i class="fa fa-facebook-official w3-hover-opacity"></i></a>
                    <a href="#"><i class="fa fa-instagram w3-hover-opacity"></i></a>
                    <a href="#"><i class="fa fa-linkedin w3-hover-opacity"></i></a>
                </div>
            </div>
        </div>
    </div>
    <br>
</footer>
</body>