
<div class="center">
  <h2>LOGIN</h2>
<div class="imgcontainer">
    <img src="../assets/login.png" alt="Avatar" class="avatar">
</div>
  <form (ngSubmit)=Details()>
      <div class="from-group">
     <i class="fa fa-user icon"></i><label>Username</label>
      <input type="text"  name="userId" class="form-control" [(ngModel)]="userId">
      </div>  
      <br>
      <i class="fa fa-key icon"></i><label>Password</label>
      <input type="password" name="password" class="form-control" [(ngModel)]="password">
      <br>
      <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

