
  .center {
    margin: auto;
   width: 30%;
    border: 3px solid green;
    padding: 10px;
  }
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }
  
  img.avatar {
    width: 40%;
    border-radius: 50%;
  }
  h2{
      text-align: center;
  }

  .icon {
    padding: 11.5px;
    background: black;
    color: white;
    min-width: 50px;
    text-align: center;
  }
  label{
    text-align: left;
  }
  