<br><br>
<button class="btn btn-primary"  (click)="logout()">Logout</button>&nbsp;&nbsp;
<button class="btn btn-primary" (click)="home()">Home</button>
<div class="center">
<h4>Sell Your Assets {{userId}}</h4>
<form #regForm="ngForm"  (ngSubmit)=Details(regForm)>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Asset Name</th>
                <th>No of Assets</th>
                <th>Add to cart</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let i of stocksList; let x=index;">
                <td>{{stocksList[x]}}</td>
                <td><input type="number" ngModel name="NoAssets" >  :  {{stockCount[x]}}</td>
                <td><button type="button" class="btn btn-primary" (click)="AddCart1(stocksList[x],regForm,x)">Add&nbsp;&nbsp;<i class="fa fa-shopping-cart"></i></button></td>
            </tr>
            <tr *ngFor="let i of sharesList; let x=index;">
                <td>{{sharesList[x]}}</td>
                <td><input type="number" ngModel name="NoAssets" >  :  {{shareCount[x]}}</td>
                <td><button type="button" class="btn btn-primary" (click)="AddCart2(sharesList[x],regForm,x)">Add&nbsp;&nbsp;<i class="fa fa-shopping-cart"></i></button></td>
            </tr>
        </tbody>
    </table>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{{str}}
</div>